<h1>Listing skill ranges</h1>

<table cellspacing="0" cellpadding="0">
  <colgroup>
    <col width="200">
    <col width="200">
    <col width="200">
  </colgroup>
  <tr>
    <th class="header">Name</th>
    <th class="header">Skill model</th>
    <th class="header">Description</th>
  </tr>

  <% for e in SkillRange.find(:all) %>
    <tr class="<%=cycle('record', 'even-record record') %>">
      <td><%=link_to e.value, :action => "edit_skill_range", :id => e %></td>
      <td><%=h e.skill_model.name %></td>
      <td><%=h e.description %></td>
    </tr>
  <% end %>

</table>
