<%= javascript_include_tag :defaults %>

<table>
  <tr>
    <td>
      <%= render :partial => 'edit_skill_range' if @skill_range != nil %>
      <%= render :partial => 'new_skill_range' if @skill_range == nil %>
      <%= render :partial => 'list_skill_ranges' %>
    </td>
  </tr>
</table>