/* fix for IE 6 (only ?) to remove line breaks around form tags */
form {margin: 0px; padding: 0px; display: inline;}

.centered-popup
{
    position:fixed;
    top: 0px;
    left: 0px;
    width: 100%;
}

tr.record td {
    background-color:#E6F2FF;
    border-bottom:1px solid #C5DBF7;
    border-left:1px solid #C5DBF7;
    color:#333333;
    padding:5px 4px;
}

tr.even-record td {
    background-color:#FFFFFF;
    border-left:1px solid #DDDDDD;
}

tr.highlighted-record td {
    color:#F50000;
}

tr.even-record td.sorted {
    background-color:#E6F2FF;
    border-bottom:1px solid #AFD0F5;
}

tr.record td.sorted {
    background-color:#B9DCFF;
    border-bottom:1px solid #AFD0F5;
}

th.header {
    background-color:#ccc;
    text-align:left;
    padding:5px 4px;
}


table.blindlayouttable {
    border:0;
    margin:0;
    padding:0;
    border-spacing:0;
    border-width:0;
}

table.blindlayouttable td {
    border-bottom:0px;
    border-left:0px;
    padding:0px 0px;
}

table.blindtable {
    border:0;
    margin:0;
    padding:0;
}

table.blindtable td {
    border-bottom:0px;
    border-left:0px;
    padding:0px 0px;
}
