<%= javascript_include_tag :defaults %>

<table>
  <tr>
    <td>
      <%= render :partial => 'edit_skill_category' if @skill_category != nil %>
      <%= render :partial => 'new_skill_category' if @skill_category == nil %>
      <%= render :partial => 'list_skill_categories' %>
    </td>
  </tr>
</table>